.panda-card {
    border: 0;
}
.btn {
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 38, 0);
    color: white;
    border: 0;
    border-radius: 5px;
    
}
.input {
    padding: 9px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    border: 0;
}